@import "bootstrap/bootstrap.less";

@lightgray: #F0F0F0;

//==============================================================================
// Helpers
//==============================================================================

#helpers {
	.gradient() {
		background-image: linear-gradient(bottom, rgb(232,232,232) 23%, rgb(238,238,238) 62%, rgb(255,255,255) 81%);
		background-image: -o-linear-gradient(bottom, rgb(232,232,232) 23%, rgb(238,238,238) 62%, rgb(255,255,255) 81%);
		background-image: -moz-linear-gradient(bottom, rgb(232,232,232) 23%, rgb(238,238,238) 62%, rgb(255,255,255) 81%);
		background-image: -webkit-linear-gradient(bottom, rgb(232,232,232) 23%, rgb(238,238,238) 62%, rgb(255,255,255) 81%);
		background-image: -ms-linear-gradient(bottom, rgb(232,232,232) 23%, rgb(238,238,238) 62%, rgb(255,255,255) 81%);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.23, rgb(232,232,232)),
			color-stop(0.62, rgb(238,238,238)),
			color-stop(0.81, rgb(255,255,255))
		);
	}

	.no-select() {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

//==============================================================================
// Main Styles
//==============================================================================

html, body {
	overflow: hidden;
}

*:focus {
	outline: none !important;
}

.input-group-addon {
	#helpers > .gradient();
}

body {
	font-family: sans-serif, serif, monospace;
	padding: 10px;
}

.form-group {
	margin-bottom: 10px;
}

.glyphicon {
	font-size: 12px;
}

textarea {
	resize: none;
	max-height: 125px;
}

label {
	#helpers > .no-select();
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-app-region: drag;
	padding: 5px 10px;
	color: #bbb;
	border-top: 1px solid #bbb;
	#helpers > .gradient();
	#helpers > .no-select();

	a:link, a:visited {
		color: #bbb;
	}

	a:hover, a:active {
		color: #666;
	}

	.text-center {
		text-transform: uppercase;
		font-size: 8pt;
		text-shadow: 0 1px 0 #fff;
		padding-top: 3px;
	}
}
