body {
	width: 600px;
	height: 350px;
}

.form-control {
	border: none;
	-webkit-box-shadow: none;
		box-shadow: none;
	-webkit-transition: none;
		transition: none;
}

input:focus,
textarea:focus {
	outline: none;
	background: #F0F0F0;
}

.form-control:focus {
	outline: 0;
	-webkit-box-shadow: none;
		box-shadow: none;
}